@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
.goblin-one-regular {
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-family:Gilroy;
    padding:0; margin:0;
    color:#111111;
}
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #111111;
}

html::-webkit-scrollbar-thumb {
    background: rgb(241, 241, 82);
}

html,body{
    width:100%;
    height:100%;
}

.main{
    overflow-x: hidden;
}
.offer-text{
    background-color:#ffff;
    border-radius:50px;
    padding:.8rem 1.5rem;
    line-height:1;
    text-transform:uppercase;
    font-weight:bold;
}
nav{    
    z-index:1;
    background-image:url(navbar-image.png);
    background-size:contain;
    padding-right:5rem;
    width:100%;
    height:15vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:0;
}
nav h1{
    font-weight:600;
}

.sideMenu{
    background-color: white;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    width:25%;
    transform:translateX(100%);
}




.page2{
    background-image: url(background-image.png);
    background-size: cover;
    background-repeat:no-repeat;
}

.container{
    flex-wrap:wrap;
    padding:1rem;
    min-width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    gap:2rem;
}
.container .box{
    flex:1 1 20rem;
    cursor:pointer;
    background-size:contain;
    overflow:hidden;
    background-repeat:no-repeat;
    height:50vh;
    border-radius:20px;
    box-shadow:0px 10px 10px black;
    position:relative;
}

.box img:nth-child(1){
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}
.box img:nth-child(2){
    position:absolute;
    top:0;
    left:0;
    width:60%;
    height:60%;
    object-fit: contain;
}
.box img:nth-child(3){
    position:absolute;
    top:0;
    left:0;
    width:60%;
    height:60%;
    object-fit: contain;
}
.box img:nth-child(6){
width:15%;
height:25%;
position:absolute;
right:2rem;
top:1rem;
}
.box h1{
    font-family: "Goblin One", serif;
    font-weight: 800;
}
.box .fa-earth-americas{
    position:absolute;
    right:2rem;
    top:1rem;
    font-size:2rem;
    background-color:white;
    padding:.8rem .8rem;
    border-radius:50%;
}
.box h4{
    padding:.2rem .8rem;
    border-radius:50px;
    font-size:1.5rem;
    color:white;
    font-weight:bold;
    background-color:#111111;
}
.box h4 i{
    color:white;
}
.page4 .right .fa-circle-play{
    background-color: rgba(31, 227, 31, 0.9);
    padding:1rem 1.1rem;
    border-radius:50px;
}
.page4 .left{
border-radius:10px;
border-right:1px solid #ccc
}
.page4 .right{
    border:2px solid yellow;
    border-radius:10px;
}
.page4 .right img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}
.page4 .right video{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:30px;
}
.fixed-div{
overflow: hidden;
}
.move-div{
    animation:slide 10s linear infinite;
}








.page5 .page5-left{
position:sticky;
top:20%;
background-color: yellow;
padding:0.5rem 2rem;
border-radius:50px;
}









.page8{
    padding:3rem 2rem;
}
.page8 .owner-div svg{
width:3rem;
}
.page8 .owner-div .text-div img:nth-last-child(1){
    margin-top:-2rem;
    border-radius:50%;
    width:5rem;
    height:5rem;
    filter:saturate(0);
    border:5px solid black;
}















@media screen and (max-width:1200px) {

nav{
    padding-right:3rem;
    font-size:1.5rem;
}
nav .text-div{
    gap:1.8rem
}
.hidden-div h1{
font-size:6rem;
}
.sideMenu .bottom-div h1{
font-size:1.2em
}
.sideMenu .bottom-div h1 img{
    width:3rem
}
.page8{
    padding-top:5rem
}
.page8 .owner-div .text-div{
    width:100%;
}
.page8 .owner-div .text-div h1 {
    font-size:1.6em;
}
.page8 .owner-div .profile-div{
    justify-content: center;
    align-items: center;
}
.page8 .owner-div .profile-div img{
 object-fit: cover;
}

}
@media screen and (max-width:1000px){


nav .image-div img{
    width:7rem
}
nav .text-div{
    display:none;
}
.sideMenu{
    padding-right:0 1em
}
.sideMenu img{
    width:6em
}
.sideMenu .bottom-div h1{
    font-size:1em
}
.sideMenu .bottom-div h1 img{
    width:2rem
}
.page4 .left{
border-right:none;
}
.page4 h1{
    font-size:3em; 
}
.page4 .content {
    flex-direction:column;
    width:100%;
}
.page4 .content .left{
    width:100%;
    height:50vh;
}
.page4 .content .left h4 i{
    rotate:90deg
}
.page4 .content .right{
    width:100%;
}
.fixed-div{
   width:90%;
}
.page5{
    flex-direction:column;
}
.page5 .page5-left{
    width:100%;
}
.page5 .page5-right{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-left:1rem
}
.page5 .page5-left{
    position:static;
    top:20%;
}
.page6 h1{
    font-size:2em;
}
.page7 .payment{
    padding-bottom:3rem;
}
.page7 .page7-content{
    align-items: center;
    justify-content: center;
    flex-direction :column;
    gap:4rem
}
.page7-left .qr{
    width:20rem;
}
.page7-left h1{
    font-size:1.5rem;
}
.page7-right img{
width:10rem;
}
.page8 .owner-div{
flex-direction:column;
gap:5rem;
}
.page8 .owner-div .profile-div{
    justify-content: center;
    align-items: center;
}
.page8 .owner-div .profile-div{
    width:100%;
}
.page8 .owner-div .profile-div img{
    width:30rem;
    height:80vh;
}
.page10 .owner-div{
flex-direction:column;
}

}
@media screen and (max-width:900px){

.hidden-div h1{
    font-size:4.5rem;
    line-height:4.8rem;
}
.sideMenu{
    width:100%;
    padding-right:0 1em
}
.sideMenu .bottom-div{
    padding-left:3rem;
    align-items:start;
    justify-content: start;
}
.page9 p{
    padding:.3rem;
    font-size:1em;
}
.page9 a i {
    font-size:1.8rem;
}

}
@media screen and (max-width:800px){

    .page2{
        padding-top: 2rem;
    }
    .page4 h1{
        font-size:2em; 
        padding-bottom:1rem;
    }
    .page4 .content .left{
        padding-right:.5rem
    }
    .page4 .content .right{
        height:60vh;
    }
    .page8 .owner-div .profile-div{
        width:100%;
    }
}
@media screen and (max-width:700px){

    .hidden-div h1{
        font-size:4em;
        line-height:4.2rem;
    }
    nav{
        padding-right:2rem;
        font-size:1.5rem;
    }
    .page2 .passes-div h1{
        font-size:3rem;
        text-align:center;
    }
    .page2 .passes-div img{
       width:6rem
    }
    .page7-left img:nth-child(2){
        width:15rem;
    }
    .page4 .right .fa-circle-play{
        font-size:1.5rem
    }
    .page8 .owner-div .text-div h1{
      font-size:1.5em;
    } 
    
}
@media screen and (max-width:580px){

    nav{
        padding-right:1rem;
        font-size:1.5rem;
    }
    .hidden-div h1{
        margin-top:2em;
        text-align:center;
        font-size:3em;
        line-height:3rem;
    }
    .page2 .passes-div h1{
        font-size:2.5rem;
        text-align:center;
    }
    .page2 .passes-div img{
       margin-left:-1.5rem;
       width:4rem
    }
    .page4 .left{
        height:100vh;
    }
    .page4 .content .left p:nth-child(2){
      font-size:1.5rem;
      line-height:1;
    }
    .page4 .content .left p:nth-child(3){
        font-size:1rem;
        line-height:1.2;
    }
    .page4 .content .right{
        height:50vh;
    }
    .page4{
      padding:1rem
    }
    .fixed-div{
        width:90%;
    }
    .fixed-div .move-div img{
        width:2rem
    }
    .page5-right .paragraph{
        margin-bottom:2rem
    }
    .offer-text{
        top:85%;
        font-size:.8em;
    }
    .page6 .page6-content{
      width:100%;
      flex-direction:column;
    }
    .page6 .page6-content .page6-left{
        width:100%;
    }
    .page6 .page6-content .page6-right{
        padding-top:2rem;
        width:100%;
    }
    .page6-content .page6-left h1{
        font-size:1.2em;
    }
    .page7-left img:nth-child(2){
        width:10rem;
    }
    .page7-content .page7-right h1{
        font-size:1.5rem;
    }
    .page7-content .page7-right img{
        width:8em;
    }
    .page7-content .page7-right p{
        font-size:1em;
    }
    .page4 .right .fa-circle-play{
        font-size:1rem
    }
    .page8{
      padding-top:2rem;
    }
    .page8 .owner-div .text-div h1{
        font-size:1.3em;
    } 
    .page8 .owner-div .text-div img{
        margin-top:5rem;
    }
    .page8 .owner-div .profile-div img{
        width:20rem;
        height:70vh;
    }
    .page9 p{
        font-size:.7em;
    }
    .page9 a i {
        font-size:1.6rem;
    }
    .page4 .content .right video{
    display:initial;
    }
}

@media screen and (max-width:480px){

.page5-right .paragraph{
    margin-bottom:3rem;
}
.page7-left img:nth-child(3){
    width:15rem;
}
.offer-text{
    font-size:.8em
}
.page8 .owner-div .text-div h1{
    font-size:1.2em;
    line-height:2;
} 
.page8{
    padding-top:0;
}
.page10 .owner-div .text-div p{
    font-size:1rem;
}
.page10{
    padding:1rem;
} 
.page10 .owner-div .profile-div{
padding:0;
}

}
@media screen and (max-width:430px) {
    
    .offer-text{
        top:90%;
        font-size:.6em;
    }
    .container .box h1{
        font-size:1.3rem;
        line-height:1.2rem;
    }
    .container .box h4{
        font-size:1rem;
    }
    .box img:nth-child(6){
        width:15%;
        height:15%;
        right:1rem;
        top:1rem;
    }
    .box .fa-earth-americas{
     font-size:1rem;
     right:1rem
    }
    .page4 h1{
        font-size:1.5em; 
        padding-bottom:1rem;
    }
    .page4 .content .right{
        height:35vh;
    }
    .page4 .content .left{
        padding:0
    }
    .fixed-div{
        width:100%;
    }
    .fixed-div .move-div img{
     width:2rem
    }
    .page5 h1{
        font-size:1.7rem
    }
    .page7-left img:nth-child(3){
        width:15em;
    }
    .page7-content .page7-right h1{
        font-size:1.2rem;
    }
    .page7-content .page7-right img{
        width:6em;
    }
    .page7-content .page7-right p{
        font-size:.8em;
    }
    .page4 .right .fa-circle-play{
        font-size:.8rem
    }
    .page8 .owner-div{
        gap:1rem
    }
    .page8 .owner-div .profile-div img{
        width:15rem;
        height:60vh;
    }
}

@media screen and (max-width:380px){

    .offer-text{
        font-size:.8rem;    
    }
.page4 .content .left{
   height:90vh;
}
.page4 .content .left h4{
    font-size:1.8rem;
}
.page5 h1{
    font-size:1.3rem;
}
.page5 .page5-right{
    padding:0rem;
}
.page5 .page5-right p{
    line-height:1.2;
}
.page5-right h1:nth-child(1){
margin-top:0rem;
}
.page5-right h1:nth-child(3){
margin-top:1rem;
}
.page6 h1{
    font-size:1.6rem
}
.page8 .owner-div .text-div h1{
    font-size:1em;
} 
.page8 .owner-div .profile-div{
    width:100%;
}
.page8 .owner-div .profile-div img{
    width:15rem;
    height:55vh;
}

}
